body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  /* background: rgb(25,13,26); */
  background: linear-gradient(31deg, rgba(25,13,26,1) 0%, rgba(57,15,62,1) 58%, rgba(95,17,104,1) 100%);
}

